<ng-progress [color]="'blue'" [showSpinner]="false"></ng-progress>
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">   
          <mat-card>
            <form #f="ngForm" name="form" (ngSubmit) = "f.form.valid && login()" novalidate>
              <b>Sign IN</b><b><a routerLink="/register" class="pull-right">Register <i class="material-icons">trending_flat</i></a></b>
                <mat-form-field class= "full-width" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                  <input type="email" matInput [(ngModel)]="model.email" name = "email" #email="ngModel" placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </mat-form-field>
                <div  *ngIf="email.errors && email.errors.pattern" class="danger-color">Email is invalid</div>
                <div *ngIf="f.submitted && !email.valid" class="danger-color">Email is required</div>
              <mat-form-field class= "full-width" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" matInput [(ngModel)]="model.password" name = "password" #password="ngModel" placeholder="Password" required>
              </mat-form-field>
              <div *ngIf="f.submitted && !password.valid" class="danger-color">Password is required</div>
              <mat-checkbox class="pull-left full-width" [(ngModel)]="model.remember" #remember="ngModel" name ="remember" >Remember Me</mat-checkbox>
              <button mat-raised-button color="primary">Submit</button>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>

